@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.roboto {
    font-family: 'Roboto', sans-serif;
}

.small {
    font-size: 40px;
}

.medium {
    font-size: 60px;
}

.big {
    font-size: 80px;
}